# Server
ADDR=":8080"

# Comma-separated list of allowed proxies
TRUSTED_PROXIES=10.0.0.0/8,172.16.0.0/12

# dev is for testing, meaning the app will always trust X-Forwarded-For, default is false (Must be lowercase)
ENV=dev

# Rate Limiter (requests per second)
RATE=10
BURST=20

# Cache
CACHE_MAX_SIZE=2048
CACHE_TTL_SECONDS=60

# Comma-separated list of allowed upstream hosts
ALLOWED_UPSTREAMS="https://httpbin.org/get"
